<h2>Customers</h2>
<div *ngIf="customersLength > 0; else noCustomers">
  <div *ngFor="let customer of customers; let index = index;" class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
      <div class="panel panel-default height">
        <div class="panel-heading">{{ customer?.name }}</div>
        <div class="panel-body">
          <strong>Address: {{ customer?.address }}</strong><br>
          <br>
          Tel: {{customer?.phone}}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noCustomers>
  <article>No Customers</article>
</ng-template>