<h2>Products</h2>
<div *ngIf="productsLength > 0; else noProducts">
  <div *ngFor="let product of products; let index = index;" class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
      <div class="panel panel-default height">
        <div class="panel-heading">{{ product?.name }}</div>
        <div class="panel-body">
          <strong>Price: {{ product?.price }}</strong><br>
          <br>
          Created: {{product?.createdAt}}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noProducts>
  <article>No Products</article>
</ng-template>